.ui-field
  display inline-block
  margin-right 20px
  width 190px
  &-title
    margin 0
    padding 0 0 2px
    font-size 10px
    color #2c3e50
    text-transform uppercase
  &-input
    padding 0 15px 0 10px
    width 100%
    height 38px
    border-radius 5px
    outline none
    border none
    color #2c3e50
