.ui-button 
  padding 0 15px
  height 38px
  border-radius 5px
  border none
  outline none
  background #3498db
  color #ffffff
  font-size 12px
  font-family Arial, Helvetica, sans-serif
  font-weight bold
  text-transform uppercase
  cursor pointer
  transition background .3s
  &:hover
    background #2980b9
  &:disabled
    background #95a5a6
