body
  margin 0
  padding 0
  background #ecf0f1

.table
  width 100%
  border-collapse collapse
  table-layout fixed
  font-family Arial, Helvetica, sans-serif
  &-header
    background-color #2ecc71
    tr
      height 50px
      color #ffffff
      font-weight bold
    th
      text-align left
      padding-left 10px
    th:last-child,
    th:nth-last-child(2)
      padding 0
      text-align center
  &-body
    color #2c3e50
    background #ffffff
    tr
      height 38px
    tr:nth-child(odd)
      background rgba(189, 195, 199, .2)
    tr:nth-child(even)
      background #ffffff
    td
      padding-left 10px
      &:hover
        background-color #f1c40f
        color #ffffff
    td:last-child,
    td:nth-last-child(2)
      padding 0
      text-align center
      color #fff
      background-color rgba(39, 174, 96,1.0)
  &-footer
    background-color #bdc3c7
    color #ffffff
    tr
      height 36px
    tr:nth-child(even)
      background #eee
    td
      padding-left 10px
    td:last-child,
    td:nth-last-child(2)
      padding 0
      text-align center

.row-delete
  display inline-block
  width 18px
  height 16px
  cursor pointer
  img 
    max-width 100%
    transition .3s
    &:hover
      transform scale(1.1)
    &:active
      transform scale(.9)

.td-yellow
  background-color #f1c40f
  color #ffffff
